# Ignore bundler files and cache
/.bundle
/vendor/bundle
/vendor/cache

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/restart.txt

# New Relic
newrelic.yml

# Ignore front-end
.sass-cache
node_modules

# Deployment
bin/deploy

# simplecov
coverage
