packages:
  yum:
    git: []
    libxml2-devel: []
    libxslt-devel: []
    libjpeg-turbo-devel: []
    zlib-devel: []
    libpng-devel: []
commands:
  goose_01:
    command: git clone https://github.com/grangier/python-goose.git
    cwd: /home/ec2-user
    ignoreErrors: true
  goose_02:
    command: pip install -r requirements.txt
    cwd: /home/ec2-user/python-goose
  goose_03:
    command: python setup.py install
    cwd: /home/ec2-user/python-goose
  goose_04:
    command: pip install newspaper
    cwd: /home/ec2-user
  goose_05:
    command: mkdir -p /home/webapp
  goose_06:
    command: curl https://raw.githubusercontent.com/codelucas/newspaper/master/download_corpora.py | python2.7
    cwd: /home/webapp
  goose_07:
    command: chown -R webapp:webapp /home/webapp


